._88px
  width: 88px

.bg1
  background-image: url('../assets/curso/bg1.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg3
  background-image: url('../assets/curso/bg2.svg')
  background-position: bottom center
  background-repeat: no-repeat

.bg4
  background-image: url('../assets/curso/bg3.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg5
  background-image: url('../assets/curso/bg4.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg6
  background-image: url('../assets/curso/bg5.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg7
  background-image: url('../assets/curso/bg6.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg8
  background-image: url('../assets/curso/bg7.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg9
  background-image: url('../assets/curso/bg8.svg')
  background-position: bottom left
  background-repeat: no-repeat

.bg10
  background-image: url('../assets/curso/bg9.svg')
  background-position: bottom left
  background-repeat: no-repeat

/*.bg10
  background-image: url('../assets/curso/bg10.svg')
  background-position: bottom left
  background-repeat: no-repeat